{% extends 'base.html' %}

{% block main %}
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <td>id</td>
            <td><a href="#">{{ job.job_id }}</a></td>
            <td>方法</td>
            <td>{{ job.func }}</td>
        </tr>
        <tr>
            <td>目标主机</td>
            <td>{{job.target}}</td>
            <td>参数</td>
            <td>{{ job.args }}</td>
        </tr>
        <tr>
            <td>开始时间</td>
            <td>{{ job.date_start }}</td>
            <td>创建人</td>
            <td>{{job.created_by}}</td>
        </tr>
        <tr>
                {% for task in job.task_set.all %}
                    <tr>
                        <td>Salt_ID</td>
                        <td>{{task.salt_id}}</td>
                        <td>完成时间</td>
                        <td>{{task.date_finished}}</td>
                    </tr>
                        <td>返回码</td>
                        <td>{{task.ret_code}}</td>
                    <tr>
                    <td>返回结果</td>
                    </tr>
                    <tr>
                    <td><pre>{{task.result}}</pre></td>
                    </tr>
                {% endfor %}
        </tr>
    </table>
    </li>
</ul>

</div>
{% endblock %}

{% block js%}

{% endblock%}
