{% extends 'base.html' %}
{% load bootstrap3 %}

{% block main %}
    <form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% bootstrap_field form.name layout="horizontal" %}
    {% bootstrap_field form.contact layout="horizontal" %}
    {% bootstrap_field form.phone layout="horizontal" %}
    {% bootstrap_field form.address layout="horizontal" %}
    {% bootstrap_field form.comment layout="horizontal" %}

    <div class="hr-line-dashed"></div>
    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-2">
            <button class="btn btn-default" type="reset">重置</button>
            <button id="submit_button" class="btn btn-primary" type="submit">提交</button>
        </div>
    </div>
    </form>
{% endblock %}
